* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
}
.spinner {
	display: flex;
	justify-content: center;
}
.nav-item {
	margin-right: 4rem;
	color: #f4d03f;
	font-weight: 600;
	letter-spacing: 2px;
	text-decoration: none !important;
}
.navRight {
	display: flex;
	justify-content: space-evenly;
}
.nav-item:hover {
	text-decoration: none !important;
	color: #fff;
}
.profile {
	color: #f4d03f;
	font-weight: 600;
}
.logout {
	background: transparent;
	border: none;
	font-size: 1.2rem;
	color: #e74c3c;
	padding-right: 1.5rem;
}

/* ABOUT PAGE STYLING */
.about {
	display: flex;
	flex-direction: column;
	margin: 5rem;
	text-align: center;
}
/* END ABOUT PAGE STYLING */
